.mealspage-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    text-align: center;
    padding-top: 3em;
}

.meals-title {
    margin-bottom: 0;
}