.assistant-container {
    display: flex;
    flex-direction: column;
    border: 0.3em solid white;
    height: 12.8vh;
    border-radius: 1.25em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: left;
    background-color: black;
    align-items: start;
    padding: 1em;
    margin-top: 1em;
}

.top-content {
    display: flex;
    align-items: center;
}

.assistant-icon {
    flex-shrink: 0;
    font-size: 4.5em;
}

.assistant-top-text {
    margin-top: 0em;
    margin-bottom: 0em;
    padding-left: 0.9em;
    font-size: 1.25em;
    font-weight: 600;
}

.assistant-bottom-text {
    align-self: center;
    font-size: 1em;
}

.chat-popup {
    z-index: 10;
    background-color: black;
    border: 0.3em solid white;
    border-radius: 1em;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: -8em;
    height: 71vh;
    position: fixed;
    width: 83%;
    padding: 0.5em;
}

.chat-header {
    align-self: center;
}

.chat-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 0 1em; /* Add padding to the left and right */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  }
  
  .chat-body {
    border-top: 0.3em solid white;
    flex-grow: 1; /* This will make the chat body take up the remaining space */
    width: 100%;
    overflow-y: auto; /* Ensure the chat body is scrollable if content overflows */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    font-weight: 500;
  }
  
  .chat-input {
    border-top: 0.35em solid white;
    width: 100%;
    padding-top: 1em;
  }

  .chat-input-form {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }

  .chat-input-field {
    width: fill;
    height: 2em;
  }

  .chat-submit-button {
    height: 2em;
  }