.assistant-container {
    display: flex;
    flex-direction: column;
    border: 0.3em solid white;
    height: 13.5vh;
    border-radius: 1.25em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: left;
    background-color: black;
    align-items: start;
    padding: 1em;
    margin-top: 0.75em;
}

.top-content {
    display: flex;
    align-items: center;
}

.assistant-icon {
    flex-shrink: 0;
    font-size: 4.5em;
}

.assistant-top-text {
    margin-top: 0em;
    margin-bottom: 0em;
    padding-left: 0.9em;
    font-size: 1.25em;
    font-weight: 600;
}

.assistant-bottom-text {
    align-self: center;
    font-size: 1em;
}