.workout-container {
    display: flex;
    flex-direction: column;
    border: 0.3em solid white;
    border-radius: 1.25em;
    margin: 1.5em;
    margin-bottom: 0.5em;
    text-align: left;
    background-color: black;
    align-items: flex-start;
    padding: 1em;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    height: 45vh;
    overflow-y: scroll;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.workout-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}

.workout-item {
    display: flex;
    align-items: center;
    padding: 1em;
    border: 0.2em solid #ccc;
    border-radius: 1em;
    box-sizing: border-box;
    width: 100%;
}

.workout-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    width: 100%;
}

.workout-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.exercise-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.exercise-details {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.1em;
}

.exercise-reps {
    font-size: 0.6em;
    color: #666;
}

.exercise-name {
    margin-top: 0.3em;
    margin-bottom: 0;
}

.exercise-sets {
    margin-top: 0.3em;
    margin-bottom: 0;
    margin-left: auto; /* Pushes the element to the right */
    padding-left: 0.4em;
}

.workout-container {
    position: relative;
    align-items: center;
  }
  
  .plus-button {
    position: fixed;
    top: 4em;
    right: 1.4em;
    font-size: 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5em;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .popup {
    position: fixed;
    top: 4em;
    left: auto;
    width: 85%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: start;
    border: 0.4em solid white;
    border-radius: 1.5em;
    background-color: black;
  }
  
  .popup-content {
    text-align: center;
    height: 86%;
  }
  
  .popup-content input {
    margin-bottom: 10px;
    padding: 0.4em;
    height: 1.8em;
    width: 110%;
    color: white;
    background-color: black;
    border: 0.3em solid white;
    border-radius: 0.6em;
    padding-left: 0.3;
    align-self: center;
  }
  
  .popup-content button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup-content button[type="submit"] {
    background-color: #007bff;
    color: white;
  }
  
  .popup-content button[type="button"] {
    background-color: #ccc;
    color: black;
  }

  .popup-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .popup-top-content {
    display: flex;
    flex-direction: column;
  }

  .add-exercise-button {
    width: 20em;
  }

  .exercise-input {
    display: flex;
  }
  
  .exercise-input-field{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .exercise-input button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .exercises-content {
    width: 80%;
  }