.workout-container {
    display: flex;
    flex-direction: column;
    border: 0.3em solid white;
    border-radius: 1.25em;
    margin: 1.5em;
    text-align: left;
    background-color: black;
    align-items: flex-start;
    padding: 1em;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    height: 45vh;
    overflow-y: scroll;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.workout-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}

.workout-item {
    display: flex;
    align-items: center;
    padding: 1em;
    border: 0.2em solid #ccc;
    border-radius: 1em;
    flex: 1 1 calc(50% - 1em); /* Adjust the width to fit two items per row */
    box-sizing: border-box;
}

.workout-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.workout-name {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.exercise-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.exercise-details {
    display: flex;
}

.exercise-reps {
    font-size: 0.6em;;
    color: #666;
}

.exercise-name {
    margin-top: 0.3em;
    margin-bottom: 0;
}