/* filepath: /c:/Users/jorda/repos/QHacks/frontend/src/components/mealspage/ProteinProgressRing.css */
.progress-ring-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  position: relative;
  display: inline-block;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-ring__text {
  font-size: 1.1em;
  font-weight: bold;
  color: #7e7e7e;
  margin: 0;
}

.plus-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.plus-button:hover {
  background-color: #218838;
}

.invisible-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}